# ===============================
# Android / Gradle
# ===============================
*.apk
*.aab
*.ap_
*.dex
*.class

# Build folders
/build
/app/build
/.gradle
/.idea
/.kotlin
/node_modules

# Local configuration
local.properties

# Android Studio
.idea/*
!.idea/gradle.xml
!.idea/misc.xml
!.idea/compiler.xml
!.idea/vcs.xml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# ===============================
# Kotlin
# ===============================
*.kotlin_module

# ===============================
# Java
# ===============================
*.jar

# ===============================
# Firebase / API Key (jangan kepush!)
# ===============================
google-services.json

# ===============================
# Environment
# ===============================
.env
.env.local

# ===============================
# Cache
# ===============================
*.tmp
*.temp
*.swp

# ===============================
# Keystore (SANGAT PENTING)
# ===============================
*.jks
*.keystore
